<mat-card-content *transloco="let t">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field>
      <input
        matInput
        [placeholder]="t('name')"
        formControlName="name">
      <mat-error *ngIf="name?.hasError('required')">
        {{t('nameReq')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [placeholder]="t('logIn')"
        formControlName="login">
      <mat-error *ngIf="login?.hasError('required')">
        {{t ('loginReq')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [placeholder]="t('password')"
        formControlName="password"
        [type]="hidePassword ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        <mat-error
          *ngIf="password?.hasError('required')">
          {{t('passReq')}}
        </mat-error>
    </mat-form-field>

    <button
      *ngIf="!showSpinner"
      mat-raised-button
      color="primary"
      class="login-button">
      {{t('sign_up')}}
    </button>

  </form>
  <mat-spinner *ngIf="showSpinner" diameter="60"></mat-spinner>
</mat-card-content>
