@import 'src/styles/mixins';

.column-container {
  width: 350px;

  .column {

    .column-header {
      display: flex;
      justify-content: space-between;

      mat-card-title {
        display: flex;
        align-items: center;
      }

      mat-icon {
        margin-bottom: 8px;
      }
    }
  }

  mat-card-content {
    height: calc(100vh - 280px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
  }
}
