.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  padding-bottom: 20px;

  .img-main {
    max-width: 700px;
    min-width: 300px;
    padding: 10px;
    width: 50%;
  }

  .text-main {
    max-width: 450px;
    min-width: 300px;
    width: 50%;
    height: 400px;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 10px;

    .title {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.developers-section {
  padding: 50px 0;
  margin: 0 auto;
  background-color: #3f51b528;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;

    mat-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 320px;
      margin: 0 15px;
      margin: 10px;

      mat-card-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }

}

.section-title {
  font-size: 2rem;
  font-weight: 600;
}

.about-text {
  min-height: 130px;
}

@media (max-width: 600px) {
  .video-section {
    iframe {
      margin: 0;
      width: 320px;
      height: 180px;
    }
  }
}
