<div class="container">
  <section class="main-section">
    <img class="img-main" src="../../../../assets/images/main.png" alt="main" />
    <div class="text-main">
      <p class="title">Project management helps teams move work forward.</p>
      <p class="subtitle">
        Collaborate, manage projects, and reach new productivity peaks. From
        high rises to the home office, the way your team works is
        unique—accomplish it all with the aplication.
      </p>
    </div>
  </section>
  <section class="developers-section">
    <h2 class="section-title">Developers</h2>
    <div class="card-container">
      <mat-card>
        <mat-card-title>Sergey Danchenko</mat-card-title>
        <img
          mat-card-image
          src="../../../../assets/images/sergey.jpg"
          alt="Photo"
        />
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae
            assumenda animi placeat nulla quaerat magni magnam cumque deleniti.
            Velit dolorum dolore doloremque error delectus quod quidem
            doloribus! Fuga, in!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button href="https://github.com/sergeydanchenko" target="_blank">GitHub</a>
          <a mat-stroked-button target="_blank">Linkedin</a>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>Andrew Gerasimchik</mat-card-title>
        <img
          mat-card-image
          src="../../../../assets/images/sergey.jpg"
          alt="Photo"
        />
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae
            assumenda animi placeat nulla quaerat magni magnam cumque deleniti.
            Velit dolorum dolore doloremque error delectus quod quidem
            doloribus! Fuga, in!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button href="https://github.com/demmi" target="_blank">GitHub</a>
          <a mat-stroked-button target="_blank">Linkedin</a>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>Rustam Satlykov</mat-card-title>
        <img
          mat-card-image
          src="../../../../assets/images/rustam.jpg"
          alt="Photo"
        />
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae
            assumenda animi placeat nulla quaerat magni magnam cumque deleniti.
            Velit dolorum dolore doloremque error delectus quod quidem
            doloribus! Fuga, in!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button href="https://github.com/Satlykov" target="_blank">GitHub</a>
          <a mat-stroked-button target="_blank">Linkedin</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  <section class="video-section">
    <h2 class="section-title">Video about the application</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/XL56jzAd5h0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </section>
</div>
