<mat-card-content>
  <form #form="ngForm" (ngSubmit)="submit()">

    <mat-form-field>
      <input
        matInput
        placeholder="Login"
        required
        name="login"
        ngModel
        #login="ngModel">
      <mat-error *ngIf="login.invalid">Login is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        [type]="hidePassword ? 'password' : 'text'"
        required
        name="password"
        ngModel
        #password="ngModel">
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        <mat-error
          *ngIf="password.errors && password.errors['required']">
          Password is required
        </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="login-button">
      Log In
    </button>

  </form>
</mat-card-content>
