<div class="container" *transloco="let t">
  <mat-toolbar color="primary">
    <mat-form-field class="options">
      <mat-label>{{ t("options") }}</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="option">
        <mat-option value="title">{{ t("task_title") }}</mat-option>
        <mat-option value="order">{{ t("task_order") }}</mat-option>
        <mat-option value="description">{{ t("task_description") }}</mat-option>
        <mat-option value="users">{{ t("task_users_name") }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search">
      <mat-label>{{ t("search_boards") }}</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="valueSearch"
      />
      <button
        *ngIf="valueSearch"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="valueSearch = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
  <app-board-card
    *ngFor="
      let board of (boards$ | async)! | sortBoards: valueSearch:selectedValue;
      index as i
    "
    [board]="board"
    [index]="i"
  ></app-board-card>
</div>
