@import 'src/styles/mixins';

main {
  height: calc(100vh - 164px);
  background-color: #303F9F;

  .title-wrapper {
    height: 5%;
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;

    mat-card {
      @include flex-layout();
      padding: 0 20px;
      height: 100%;
    }
  }

  .columns-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;

    mat-card {
      height: 100px;
      width: 350px;
      min-width: 350px;
      @include flex-layout();
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}



