footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  mat-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

span {
  font-size: 24px;
  font-weight: 500;
  width: 150px;
  margin: 0 0 0 10px;
  cursor: default;
}

.link {
  font-size: 12px;
  height: 50px !important;
}

.rs-link {
  text-decoration: none;
}

.rs-link:visited {
  color: black;
}

.logo {
  width: 150px;
  height: 50px;
}
