<header>
  <mat-toolbar color="primary">
    <button mat-raised-button *ngIf="isLogged$ | async">Create new board</button>
    <span class="spacer"></span>
    <div>
      <mat-label class="labelForSlide">En</mat-label>
      <mat-slide-toggle [(ngModel)]="language"></mat-slide-toggle>
      <mat-label class="labelForSlide">Ru</mat-label>
    </div>
    <span class="spacer"></span>
    <div class="user-greeting" *ngIf="isLogged$ | async; else login">
      <p *ngIf="user$ | async as user">Hi {{user.login}}</p>
      <button mat-mini-fab color="warn" [mat-menu-trigger-for]="userMenu" *ngIf="user$ | async as user">{{user.login[0]}}</button>
      <mat-menu #userMenu='matMenu'>
        <a mat-menu-item routerLink="#">Edit profile</a>
        <button mat-menu-item (click)="LogOut()">Logout</button>
      </mat-menu>
    </div>
    <ng-template #login>
      <div class="login-links">
        <a mat-raised-button routerLink="#">Login</a>
        <a mat-raised-button routerLink="#">Sign Up</a>
      </div>
    </ng-template>
  </mat-toolbar>
</header>
